/oop/M1/Exercises/programmingExercise10/InterestCalculator/nbproject/private/
/oop/M1/Exercises/programmingExercise10/InterestCalculator/dist/
/oop/M1/Exercises/programmingExercise10/InterestCalculator/build/
/oop/M1/Exercises/programmingExercise10/LuckySevens/nbproject/private/
/oop/M1/Exercises/programmingExercise10/LuckySevens/dist/
/oop/M1/Exercises/programmingExercise10/LuckySevens/build/
/oop/M2/Exercises/Exercise1/Factorizor/nbproject/private/
/oop/M2/Exercises/Exercise1/Factorizor/build/
/oop/M2/Exercises/Exercise1/Factorizor/dist/
/oop/M2/Exercises/Exercise1/InterestCalculator/nbproject/private/
/oop/M2/Exercises/Exercise1/InterestCalculator/build/
/oop/M2/Exercises/Exercise1/InterestCalculator/dist/
/oop/M2/Exercises/Exercise1/LuckySevens/nbproject/private/
/oop/M2/Exercises/Exercise1/LuckySevens/dist/
/oop/M2/Exercises/Exercise1/LuckySevens/build/
/oop/M2/Exercises/Exercise1/SimpleCalculator/nbproject/private/
/oop/M2/Exercises/Exercise1/SimpleCalculator/build/
/oop/M2/Exercises/Exercise1/SimpleCalculator/dist/
/oop/M2/Exercises/Exercise2/Shapes/nbproject/private/
/oop/M2/Exercises/Exercise2/JavaApplication80/nbproject/private/
/oop/M2/Exercises/Exercise2/SimpleCalculator/nbproject/private/
/oop/M2/Exercises/Exercise2/UserIO/build/
/oop/M2/Exercises/Exercise2/UserIO/dist/
/oop/M2/Exercises/Exercise2/StateCapitals/nbproject/private/
/oop/M2/Exercises/Exercise2/StateCapitals/build/
/oop/M2/Exercises/Exercise2/StateCapitals/dist/
/oop/M2/Exercises/Exercise2/StateCapitals2/nbproject/private/
/oop/M2/Exercises/Exercise2/StateCapitals2/build/
/oop/M2/Exercises/Exercise2/StateCapitals2/dist/
/oop/M2/Exercises/Exercise2/StudentQuizGrades/nbproject/private/
/oop/M2/Exercises/Exercise2/StudentQuizGrades/build/
/oop/M2/Exercises/Exercise2/StudentQuizGrades/dist/
/oop/M2/Assignments/JetManager/nbproject/private/
/oop/M2/Exercises/ClassRoster/nbproject/private/
/oop/M2/Exercises/ClassRoster/build/
/oop/M2/Exercises/ClassRoster/dist/
/oop/M2/Assignments/JetManager/build/
/oop/M2/Assignments/JetManager/dist/
/oop/M3/Exercises/ClassRoster/nbproject/private/
/oop/M2/Exercises/Exercise2/AddressBook/nbproject/private/
/oop/M2/Exercises/Exercise2/AddressBook/build/
/oop/M2/Exercises/Exercise2/AddressBook/dist/