/oop/M1/Exercises/programmingExercise10/InterestCalculator/nbproject/private/
/oop/M1/Exercises/programmingExercise10/InterestCalculator/dist/
/oop/M1/Exercises/programmingExercise10/InterestCalculator/build/
/oop/M1/Exercises/programmingExercise10/LuckySevens/nbproject/private/
/oop/M1/Exercises/programmingExercise10/LuckySevens/dist/
/oop/M1/Exercises/programmingExercise10/LuckySevens/build/