/oop/M1/Lessons/HelloWorld/nbproject/private/
/oop/M1/Lessons/HelloWorld/build/
/oop/M1/Lessons/HelloWorld/dist/
/oop/M1/Lessons/WindowMaster/nbproject/private/
/oop/M1/Lessons/WindowMaster/build/
/oop/M1/Lessons/WindowMaster/dist/
/oop/M1/Exercises/programmingExercise1/target/
/oop/M1/Exercises/programmingExercise2/InABucket/nbproject/private/
/oop/M1/Exercises/programmingExercise2/InABucket/build/
/oop/M1/Exercises/programmingExercise2/InABucket/dist/
/oop/M1/Exercises/programmingExercise2/MoreBucketsMoreFun/nbproject/private/
/oop/M1/Exercises/programmingExercise2/MoreBucketsMoreFun/build/
/oop/M1/Exercises/programmingExercise2/MoreBucketsMoreFun/dist/
/oop/M1/Exercises/programmingExercise2/TheOrderOfThings/nbproject/private/
/oop/M1/Exercises/programmingExercise2/TheOrderOfThings/build/
/oop/M1/Exercises/programmingExercise2/TheOrderOfThings/dist/
/oop/M1/Exercises/programmingExercise2/BestAdderEver/nbproject/private/
/oop/M1/Exercises/programmingExercise2/BestAdderEver/build/
/oop/M1/Exercises/programmingExercise2/BestAdderEver/dist/
/oop/M1/Exercises/programmingExercise2/AllAboutMe/nbproject/private/
/oop/M1/Exercises/programmingExercise2/AllAboutMe/build/
/oop/M1/Exercises/programmingExercise2/AllAboutMe/dist/
/oop/M1/Exercises/programmingExercise2/MenuOfChampions/nbproject/private/
/oop/M1/Exercises/programmingExercise2/MenuOfChampions/dist/
/oop/M1/Exercises/programmingExercise2/MenuOfChampions/build/
/oop/M1/Exercises/programmingExercise2/QuestForTheUserInput/nbproject/private/
/oop/M1/Exercises/programmingExercise2/QuestForTheUserInput/build/
/oop/M1/Exercises/programmingExercise2/QuestForTheUserInput/dist/
/oop/M1/Exercises/programmingExercise2/DontForgetToStoreIt/nbproject/private/
/oop/M1/Exercises/programmingExercise2/DontForgetToStoreIt/dist/
/oop/M1/Exercises/programmingExercise2/DontForgetToStoreIt/build/
/oop/M1/Exercises/programmingExercise2/BiggerBetterAdder/nbproject/private/
/oop/M1/Exercises/programmingExercise2/BiggerBetterAdder/build/
/oop/M1/Exercises/programmingExercise2/BiggerBetterAdder/dist/
/oop/M1/Exercises/programmingExercise2/PassingTheTuringTest.java/nbproject/private/
/oop/M1/Exercises/programmingExercise3/PassingTheTuringTest/nbproject/private/
/oop/M1/Exercises/programmingExercise3/PassingTheTuringTest/build/
/oop/M1/Exercises/programmingExercise3/PassingTheTuringTest/dist/
/oop/M1/Exercises/programmingExercise3/AllTheTrivia/nbproject/private/
/oop/M1/Exercises/programmingExercise3/DoItBetter/nbproject/private/
/oop/M1/Exercises/programmingExercise3/HealthyHearts/nbproject/private/
/oop/M1/Exercises/programmingExercise3/MiniMadLibs/nbproject/private/
/oop/M1/Exercises/programmingExercise3/AllTheTrivia/dist/
/oop/M1/Exercises/programmingExercise3/AllTheTrivia/build/
/oop/M1/Exercises/programmingExercise3/DoItBetter/build
/oop/M1/Exercises/programmingExercise3/DoItBetter/dist/
/oop/M1/Exercises/programmingExercise3/HealthyHearts/build/
/oop/M1/Exercises/programmingExercise3/HealthyHearts/dist/
/oop/M1/Exercises/programmingExercise3/MiniMadLibs/build/
/oop/M1/Exercises/programmingExercise3/MiniMadLibs/dist/
/oop/M1/Exercises/programmingExercise4/LlamasWhalesAndDodosOhMy/nbproject/private/
/oop/M1/Exercises/programmingExercise4/LlamasWhalesAndDodosOhMy/build/
/oop/M1/Exercises/programmingExercise4/LlamasWhalesAndDodosOhMy/dist/
/oop/M1/Exercises/programmingExercise4/GuessMe/nbproject/private/
/oop/M1/Exercises/programmingExercise4/GuessMe/build/
/oop/M1/Exercises/programmingExercise4/GuessMe/dist/
/oop/M1/Exercises/programmingExercise4/YourLifeInMovies/nbproject/private/
/oop/M1/Exercises/programmingExercise4/YourLifeInMovies/build/
/oop/M1/Exercises/programmingExercise4/YourLifeInMovies/dist/
/oop/M1/Exercises/programmingExercise4/SpaceRustlers/nbproject/private/
/oop/M1/Exercises/programmingExercise4/SpaceRustlers/dist/
/oop/M1/Exercises/programmingExercise4/SpaceRustlers/build/
/oop/M1/Exercises/programmingExercise4/BirthStones/nbproject/private/
/oop/M1/Exercises/programmingExercise4/BirthStones/dist/
/oop/M1/Exercises/programmingExercise4/BirthStones/build/
/oop/M1/Exercises/programmingExercise4/TriviaNight/nbproject/private/
/oop/M1/Exercises/programmingExercise4/TriviaNight/dist/
/oop/M1/Exercises/programmingExercise4/TriviaNight/build/
/oop/M1/Exercises/programmingExercise4/KnockKnock/nbproject/private/
/oop/M1/Exercises/programmingExercise4/KnockKnock/build/
/oop/M1/Exercises/programmingExercise4/KnockKnock/dist/
/oop/M1/Exercises/programmingExercise4/PickyEater.java/nbproject/private/
/oop/M1/Exercises/programmingExercise4/PickyEater.java/build/
/oop/M1/Exercises/programmingExercise4/PickyEater.java/dist/
/oop/M1/Exercises/programmingExercise4/FieldDay/nbproject/private/
/oop/M1/Exercises/programmingExercise4/FieldDay/build/
/oop/M1/Exercises/programmingExercise4/FieldDay/dist/
/oop/M1/Exercises/programmingExercise4/MiniZork/nbproject/private/
/oop/M1/Exercises/programmingExercise4/MiniZork/dist/
/oop/M1/Exercises/programmingExercise4/MiniZork/build/
/oop/M1/Exercises/programmingExercise5/ALittleChaos/nbproject/private/
/oop/M1/Exercises/programmingExercise5/GuessMeMore/nbproject/private/
/oop/M1/Exercises/programmingExercise5/ALittleChaos/build/
/oop/M1/Exercises/programmingExercise5/ALittleChaos/dist/
/oop/M1/Exercises/programmingExercise5/Opinionator/nbproject/private/
/oop/M1/Exercises/programmingExercise5/Opinionator/dist/
/oop/M1/Exercises/programmingExercise5/Opinionator/build/
/oop/M1/Exercises/programmingExercise5/FortuneCookie/nbproject/private/
/oop/M1/Exercises/programmingExercise5/FortuneCookie/dist/
/oop/M1/Exercises/programmingExercise5/FortuneCookie/build/
/oop/M1/Exercises/programmingExercise5/HighRoller/nbproject/private/
/oop/M1/Exercises/programmingExercise5/HighRoller/build/
/oop/M1/Exercises/programmingExercise5/HighRoller/dist/
/oop/M1/Exercises/programmingExercise5/CoinFlipper/nbproject/private/
/oop/M1/Exercises/programmingExercise5/CoinFlipper/build/
/oop/M1/Exercises/programmingExercise5/CoinFlipper/dist/
/oop/M1/Exercises/programmingExercise5/GuessMeMore/build/
/oop/M1/Exercises/programmingExercise5/GuessMeMore/dist/
/oop/M1/Exercises/programmingExercise5/WaitAWhile/nbproject/private/
/oop/M1/Exercises/programmingExercise5/WaitAWhile/dist/
/oop/M1/Exercises/programmingExercise5/WaitAWhile/build/
/oop/M1/Exercises/programmingExercise5/StayPositive/nbproject/private/
/oop/M1/Exercises/programmingExercise5/StayPositive/build/
/oop/M1/Exercises/programmingExercise5/StayPositive/dist/
/oop/M1/Exercises/programmingExercise5/RollerCoaster/nbproject/private/
/oop/M1/Exercises/programmingExercise5/RollerCoaster/build/
/oop/M1/Exercises/programmingExercise5/RollerCoaster/dist/
/oop/M1/Exercises/programmingExercise5/DoOrDoNot/nbproject/private/
/oop/M1/Exercises/programmingExercise5/DoOrDoNot/dist/
/oop/M1/Exercises/programmingExercise5/DoOrDoNot/build/
/oop/M1/Exercises/programmingExercise5/LoveMe/nbproject/private/
/oop/M1/Exercises/programmingExercise5/LoveMe/build/
/oop/M1/Exercises/programmingExercise5/LoveMe/dist/
/oop/M1/Exercises/programmingExercise5/MaybeItLovesMe/nbproject/private/
/oop/M1/Exercises/programmingExercise5/MaybeItLovesMe/build/
/oop/M1/Exercises/programmingExercise5/MaybeItLovesMe/dist/
/oop/M1/Exercises/programmingExercise5/GuessMeFinally/nbproject/private/
/oop/M1/Exercises/programmingExercise5/GuessMeFinally/dist/
/oop/M1/Exercises/programmingExercise5/GuessMeFinally/build/
/oop/M1/Exercises/programmingExercise5/BewareTheKraken/nbproject/private/
/oop/M1/Exercises/programmingExercise5/BewareTheKraken/dist/
/oop/M1/Exercises/programmingExercise5/BewareTheKraken/build/
/oop/M1/Exercises/programmingExercise5/LazyTeenager/nbproject/private/
/oop/M1/Exercises/programmingExercise5/LazyTeenager/build/
/oop/M1/Exercises/programmingExercise5/LazyTeenager/dist/
/oop/M1/Exercises/programmingExercise5/ForAndTwentyBlackbirds/nbproject/private/
/oop/M1/Exercises/programmingExercise5/ForAndTwentyBlackbirds/build/
/oop/M1/Exercises/programmingExercise5/ForAndTwentyBlackbirds/dist/
/oop/M1/Exercises/programmingExercise5/SpringForwardFallBack/nbproject/private/
/oop/M1/Exercises/programmingExercise5/SpringForwardFallBack/build/
/oop/M1/Exercises/programmingExercise5/SpringForwardFallBack/dist/
/oop/M1/Exercises/programmingExercise5/ForTimes/nbproject/private/
/oop/M1/Exercises/programmingExercise5/ForTimes/build/
/oop/M1/Exercises/programmingExercise5/ForTimes/dist/
/oop/M1/Exercises/programmingExercise5/ForTimesFor/nbproject/private/
/oop/M1/Exercises/programmingExercise5/ForTimesFor/build/
/oop/M1/Exercises/programmingExercise5/ForTimesFor/dist/
/oop/M1/Exercises/programmingExercise7/TheCount/nbproject/private/
/oop/M1/Exercises/programmingExercise7/TheCount/dist/
/oop/M1/Exercises/programmingExercise7/TheCount/build/
/oop/M1/Exercises/programmingExercise7/TwoForsAndTenYearsAgo/nbproject/private/
/oop/M1/Exercises/programmingExercise7/TwoForsAndTenYearsAgo/build/
/oop/M1/Exercises/programmingExercise7/TwoForsAndTenYearsAgo/dist/
/oop/M1/Exercises/programmingExercise7/DifferentKettleOfFish/nbproject/private/
/oop/M1/Exercises/programmingExercise7/DifferentKettleOfFish/dist/
/oop/M1/Exercises/programmingExercise7/DifferentKettleOfFish/build/
/oop/M1/Exercises/programmingExercise7/ForByFor/nbproject/private/
/oop/M1/Exercises/programmingExercise7/ForByFor/build/
/oop/M1/Exercises/programmingExercise7/ForByFor/dist/
/oop/M1/Exercises/programmingExercise7/TraditionalFizzBuzz/nbproject/private/
/oop/M1/Exercises/programmingExercise7/TraditionalFizzBuzz/build/
/oop/M1/Exercises/programmingExercise7/TraditionalFizzBuzz/dist/