<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <title>Super Sightings</title>
</head>

<body>
    <!-- Main Body of Page -->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/" class="text-dark">Super Sightings</a></h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="Powers" class="btn btn-outline-primary btn-lg">Powers</a>
            </div>
            <div class="col text-center m-3">
                <a href="Supers" class="btn btn-outline-primary btn-lg">Supers</a>
            </div>
            <div class="col text-center m-3">
                <a href="Locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="Organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="Sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
            <div class="col text-center m-3">
                <a href="Admin" class="btn btn-outline-primary btn-lg">Admin</a>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">
                    Edit Organization
                </span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="editOrganization" method="POST">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group row">
                        <label for="organizationName" class="col-3 col-form-label">
                            Organization Name</label>
                        <div class="col-9">
                            <input type="text" name="organizationName" id="organizationName" class="form-control"
                                th:value="${organization.organizationName}">
                            <div th:if="${#fields.hasErrors('organization.organizationName')}">
                                <p th:each="error : ${#fields.errors('organization.organizationName')}" class="alert alert-danger" 
                                th:text="${error}"> Bad organization name </p>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group row">
                        <label for="organizationDescription" class="col-3 col-form-label">
                            Organization Description</label>
                        <div class="col-9">
                            <input type="text" name="organizationDescription" id="organizationDescription"
                                class="form-control" th:value="${organization.organizationDescription}">
                            <div th:if="${#fields.hasErrors('organization.organizationDescription')}">
                                <p th:each="error : ${#fields.errors('organization.organizationDescription')}" class="alert alert-danger" 
                                th:text="${error}"> Bad organization description </p>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group row">
                        <label for="organizationContact" class="col-3 col-form-label">
                            Organization Contact</label>
                        <div class="col-9">
                            <input type="text" name="organizationContact" id="organizationContact" class="form-control"
                                th:value="${organization.organizationContact}">
                            <div th:if="${#fields.hasErrors('organization.organizationContact')}">
                                <p th:each="error : ${#fields.errors('organization.organizationContact')}" class="alert alert-danger" 
                                th:text="${error}"> Bad organization contact </p>
                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group row">
                        <label for="organizationAddress" class="col-3 col-form-label">
                            Organization Location</label>
                        <div class="col-9">
                            <select id="organizationAddress" name="locationID" class="form-control">
                                <option th:each="location : ${locations}" th:value="${location.locationID}" 
                                th:selected="${location.equals(existingLocation)}"
                                    th:text="${location.locationName}">organizationAddress</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="supers" class="col-3 col-form-label">
                            Supers</label>
                        <div class="col-9">
                            <select multiple id="supers" name="superID" class="form-control">
                                <option th:each="super : ${supers}" th:value="${super.superID}" th:selected="${existingSupers.contains(super)}"
                                    th:text="${super.superName}">Supers</option>
                            </select>
                        </div>
                    </div>
                    <div sec:authorize="!hasRole('ROLE_ADMIN')">
                        <input type="hidden" name="organizationName" th:value="${organization.organizationName}">
                        <input type="hidden" name="organizationDescription" th:value="${organization.organizationDescription}">
                        <input type="hidden" name="organizationContact" th:value="${organization.organizationContact}">
                        <input type="hidden" name="locationID" th:value="${existingLocation.locationID}">
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="organizationID" th:value="${organization.organizationID}">
                    <button type="submit" class="btn btn-primary">Edit Organization</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End main body -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>