<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 
    
    

    <!-- PUT JDBC BEAN HERE -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/DVDLibrary" />
        <property name="username" value="root" />
        <property name="password" value="Nightmare0*" />
        <property name="initialSize" value="5" />
        <property name="maxTotal" value="10" />
    </bean>
    
    <bean id="directorDAO" class="sg.com.dvdlibrary.daos.DirectorDAOFileImpl">
    </bean>
    <bean id="dvdDAO" class="sg.com.dvdlibrary.daos.DVDDAOFileImpl">
    </bean>
    
    <!-- PUT JDBC DAO BEANS HERE -->
    
    <bean id="directorJDBCDAO" class="sg.com.dvdlibrary.daos.DirectorDAOJDBCImpl">
        <constructor-arg ref="dataSource" />
    </bean>
    <bean id="DVDJDBCDAO" class="sg.com.dvdlibrary.daos.DVDDAOJDBCImpl">
        <constructor-arg ref="dataSource" />
    </bean>
    
    <bean id="DVDService" class="sg.com.dvdlibrary.services.DVDServiceImpl">
        <constructor-arg ref="DVDJDBCDAO" />
        <constructor-arg ref="directorJDBCDAO" />
    </bean>
    
    <bean id="io" class="sg.com.dvdlibrary.views.UserConsoleIOImpl"></bean>
    <bean id="view" class="sg.com.dvdlibrary.views.DVDLibraryView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="DVDController" class="sg.com.dvdlibrary.controllers.DVDController">
        <constructor-arg ref="view" />  
        <constructor-arg ref="DVDService" />
    </bean>
</beans>