<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 
    
    

    <!-- PUT JDBC BEAN HERE -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/DVDDB" />
        <property name="username" value="root" />
        <property name="password" value="Nightmare0*" />
    </bean> 
    
    <bean id="directorDao" class="sg.com.dvdlibrary.daos.DirectorDaoFileImpl">
    </bean>
    <bean id="dvdDao" class="sg.com.dvdlibrary.daos.DvdDaoFileImpl">
    </bean>
    
    <!-- PUT JDBC DAO BEANS HERE -->
    <bean id="directorJDBCDao" class="sg.com.dvdlibrary.daos.DirectorDaoJDBCImpl">
    </bean>
    <bean id="dvdJDBCDao" class="sg.com.dvdlibrary.daos.DvdDaoJDBCImpl">
    </bean>
    
    <bean id="dvdService" class="sg.com.dvdlibrary.services.DvdServiceImpl">
        <constructor-arg ref="dvdJDBCDao" />
        <constructor-arg ref="directorJDBCDao" />
    </bean>
    <bean id="io" class="sg.com.dvdlibrary.views.UserConsoleIOImpl"></bean>
    <bean id="view" class="sg.com.dvdlibrary.views.DvdLibraryView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="dvdController" class="sg.com.dvdlibrary.controllers.DvdController">
        <constructor-arg ref="view" />  
        <constructor-arg ref="dvdService" />
    </bean>
</beans>